[user]
		name  = Lowstz Chen
		email = lowstz@gmail.com
[color]
		branch	    = auto
		diff        = auto
		grep        = auto
		interactive = auto
		status      = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
